<% title "Articles" %>

<% for article in @articles %>

<div class="post entry">
	<div class="date">
  Last updated: <%=h article.updated_at.strftime("%A, %B %d, %Y") %>

  </div>
  <h3 class="entry-title">
    <%= link_to article.title, article %>
  </h3>
	<%= (truncate(article.body, 280)) %>

   

  <p class="post_info">

    Posted by
    <span class="author vcard fn">
      
        <%=h article.author.login %>
      
    </span>

    | <%= link_to pluralize(article.comments_count, 'comment'), article_path(article) %>
<% if current_user.has_role? :staff %>
	<% if current_user.has_role? :staff %>
	| <%= link_to "Edit", edit_article_path(article) %>
	<% end %>
		<% if current_user.has_role? :admin %>

	    | <%= link_to "Destroy", article, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
<% end %>
    
  </p>
  
  

</div>

<div class="clear"></div>
<hr />
<% end %>


<p><%# link_to "New Article", new_article_path %></p>
