<%= form.hidden_field :invitation_token %>

<% @user.build_profile unless @user.profile %>

<p> <% form.fields_for :profile do |profile| %>
	<%= profile.label :full_name, "Full Name" %><br />
   	<%= profile.text_field :full_name %><br />
	<small>
	  Enter your real name, so people you know can recognize you.
	</small><br />

<% end %>
<br />
</p>

<p><%= form.label :login %><br />

<%= form.text_field :login %><br />
<small id="username_msg">No spaces, please.</small>
<br />
</p>

<p><%= form.label :email %><br />
<%= form.text_field :email %><br />
<br />
</p>

<p><%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
<%= form.password_field :password %><br />
<br />
</p>

<p><%= form.label :password_confirmation %><br />
<%= form.password_field :password_confirmation %><br /></p>