<% title "Document" %>

<p>
  <strong>Title:</strong>
  <%=h @document.title %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @document.description %>
</p>
<p>
	<strong>Published on</strong>
	<%= h @document.published_on.strftime("%A, %B %d, %Y")  %>
</p>
<p>
	<%= link_to "Download", @document.attachment.url %>
</p>
<p>
	<% if current_user.has_role? :staff %>
  <%= link_to "Edit", edit_document_path(@document) %> |
	<% end %>
	<% if current_user.has_role? :admin %>

  <%= link_to "Destroy", @document, :confirm => 'Are you sure?', :method => :delete %> |
	<% end %>
  <%= link_to "View All", documents_path %>
</p>
