<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="  <title><%= h(yield(:title) || "Ocean Shore School - Pod") %></title>
  " />
  <title><%= h(yield(:title) || "Ocean Shore School - Pod") %></title>
  <style type="text/css">.header { background: url("/images/header.jpg"); }</style>
	<style type="text/css">@import url('/stylesheets/application.css');</style>
  <%= javascript_include_tag "prototype", "audio_player", "calendar_date_select", "prototip", :cache => true %>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <h1>Pod</h1>
      <div class="tagline">
		The online community for the OSSPTO<br />
		<em>photo credit <a href='www.flickr.com/photos/jurvetson/3186464038/'>jurvetson</a></em>
	  </div>
      <%= render :file => 'shared/tabs' -%>
    </div>
    <div class="content">
      <%= render :file => 'shared/nav' %>
      <div class="announcement"></div>

      <%= render :file => 'shared/flash' -%>
      <%= yield %>
      <%# render :file => 'shared/nav2' %>
      <%# render :file => 'shared/stats' unless locked_out? %>
    </div>
    <div class="footer"></div>
  </div>
</body>
</html>